/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.58;
}
/* Background */
body {
    background-image: url(assets/plantpower3.jpg);
    background-repeat: no repeat;
    background-position: center center;
    background-attachment: fixed;
}
/* Profilepicture */
img {
   height: 20%;
   width: 20%;
   border: 2px solid #ddd;
   padding: 5px;
   width: 150px;
}
/* Profilehead */
.profile-head {
    height: 20%;
    width: 50%;
    font-family: "Lucida Sans";
    padding: 50px;
    margin:0 auto;
    background-color: rgba(245, 245, 239, 0.6);
    }
h1{
    font-weight:bold;
}
h2 {
    font-weight:lighter;
    font-size:70%;
}
h3 {
    font-size: 50%;
}
.right {
    float: right;
}
/* About */
.about {
    background-color: rgba(245, 245, 239, 0.6);
    height: 60%;
    width: 60%;
    padding: 20px;
    margin:0 auto;
    font-family: "Arial";
    font-size: 60%;
}
/* Contacts */
.contacts {
background-color: rgba(245, 245, 239, 0.6);
height: 20%;
width: 50%;
padding: 20px;
margin:0 20px;
font-family: "Arial";
font-size: 60%;
font-weight:bold;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
}