/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
/* Background */
body {
    background-image: url(assets/plantpower3.jpg);
    background-repeat: no repeat;
    background-position: center center;
    background-attachment: fixed;
}
/* Profilepicture */
img {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}